.addTaskButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 10%;
    font-size: 18px;
}

.finDePagina {
    background-color: black;
}